*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

:root{

    --color-1: rgb(220, 242, 241);
    --color-2: rgb(127, 199, 217);
    --color-3: rgb(54, 84, 134);
    --color-4: rgb(15, 16, 53);
    --color-5: rgb(5, 35, 232);


    --background-black: rgb(70, 30, 30);
    --background-lightblue: rgb(16, 218, 232);
    --background-greenaqua: rgb(7, 232, 146);
    --background-aqua: rgb(2, 227, 171);
    --background-aqualight: rgb(217, 235, 226);
}

.container{
    max-width: 1200px;
    width: 90%;
    margin-inline: auto;
    overflow: hidden;
}

/* Navegación */

.nav{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    --url-menu: url(../assets/img/menu.svg);
    --opacity: 0;
    --transform-menu: translate(-120%);
    --pointer-menu: none;

}

.nav:has([id="menu"]:checked){

    --url-menu: url(../assets/img/close.svg);
    --opacity: 1;
    --transform-menu: translate(0);
    --pointer-menu: unset;
}

.nav__logo{
    width: 40%;
    max-width: 200px;
}

.nav__img{
    width: 100%;
    display: block;
}

.nav__menu{
    background-color: #fff;
    position: absolute;
    top: 90px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;

    inset-inline: 0;
    padding: 30px 5%;

    pointer-events: var(--pointer-menu);

    opacity: var(--opacity);
    transform: var(--transform-menu);

    transition: .4s opacity, transform .8s;
}

.nav__links{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: .5rem;
}

.nav__link{
    display: block;
    padding: 1rem;
    color: black;
}

.nav__link:hover{
    background-color: var(--color-5);
    color: white;
}

.nav__btn{
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-align: center;
    border-radius: 4px;

    color: #fff;
    background-color: var(--color-5);
    transition: all .3s ease;
}

.nav__label{
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;

    background-image: var(--url-menu);
    background-repeat: no-repeat;
    background-size: contain;

    transition: .3s background-image;
}

[id="menu"]{
    display: none;
}

/* Hero Main */

.hero__main{
    background-image: linear-gradient(rgba(5,7,12,.60),rgba(5,7,12,.60)) ,url(../assets/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__content{
    height: 70vh;
    padding: 30px 0;

    display: flex;
    align-items: center;
    text-align: center;
}

.hero__block{
    width: 100%;
}

.hero__title{
    font-size: 2rem;
    color: #fff;
}

.hero__paragraph{
    margin: 2rem 0; 
    line-height: 1.8;
    font-size: 14px;

    color: #fff;
}

.btn{
    padding: 1rem 2rem;
    background-color: var(--color-5);
    color: #fff;

    border-radius: 4px;

    max-width: 180px;
    text-align: center;
}

.btn:hover{
    background-color: var(--background-lightblue);
}


/* About */

.about{
    display: flex;
    flex-direction: column;
    padding: 70px 0;
}

.about__subtitle{
    color: var(--color-5);
}

.about__title{
    margin: 1.5rem 0;
}

.about__paragraph{
    line-height: 1.8;
}

.cards{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    gap: 1.5rem;
}

.cards__article{
    width: 250px;
    max-width: 500px;
    flex-grow: 1;

    display: flex;
    gap: 1.5rem;
}

.cards__figure{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__img{
    width: 100%;
}

.cards__text{
    width: 50%;
    flex-grow: 1;
}

.cards__title{
    font-size: 1.25rem;
    margin-bottom: .8rem;
}

.cards__paragraph{
    line-height: 1.8;
}

/* Services */

.services__title{
    font-size: 1.8rem;
    text-align: center;
}

.services__paragraph{
    line-height: 1.8;
    text-align: center;
    margin: 1.5rem 0;
}

.cards__services{
    width: 300px;
    max-width: 600px;
    padding: 20px;
    
    flex-grow: 1;
    transition: all .3s;
}

.overlay{
    width: 0;
    height: 0;
    background-color: rgba(5, 35, 232, .55);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    border-radius: 50%;
    z-index: 1;
}

.cards__services__figure:hover .overlay{
    width: 150%;
    height: 150%;
}

.cards__services__figure{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 0 2.5rem 0 0;
}

.cards__services__img{
    width: 100%;
    display: block;

    transition: all .7s;
}

.cards__services__figure:hover .cards__services__img{
    transform: scale(1.07);
}

.cards__services__text{
    height: 100px;
    padding: 25px 35px;

    border-radius: 0 0 0 2.5rem;
    box-shadow: 0px 0px 5px 2px rgba(5,7,12,.1);
}

.cards__services__title{
    font-size: 1.3rem;
    font-weight: 600;
}

/* Working */

.working{
    padding: 70px 0;
    text-align: center;
}

.working__subtitle{
    color: var(--color-5);
    width: 100%;
}

.working__title{
    margin: 1.5rem 0;
    width: 100%;
}

/* Target */


.target{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}

.target__article{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 32px;
    margin: 26px 10px 10px;
    background-color: var(--color-1);
}

.target__subtitle{
    position: absolute;
    padding: 7px 20px;
    top: -15px;

    background-color: var(--color-5);
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 20px;
}

.target__title{
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0 7px; 
}

.target__paragraph{
    line-height: 1.8;
    font-size: 16px;
    margin: 10px 0;
}

.target__button{
    display: inline-block;
    padding: 10px 34px;

    color: #fff;
    background-color: var(--color-5);

    border-radius: 5px;
}


/* Sección del Portafolio  */

.about__left{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.about__right{
    margin: 20px 0;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 224px);
    grid-template-areas: 
        "img-one"
        "element"
        "img-two"
    ;
    gap: 9px;
}

.grid__one{
    background-image: url(../assets/img/grid__1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    grid-area: img-one;
}

.grid__two{
    background-image: url(../assets/img/grid__2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    grid-area: img-two;
}

.grid__element{
    padding: 30px 32px;

    text-align: center;
    color: #fff;
    background-color: var(--color-5);
    border-radius: 10px;
    grid-area: element;
}

.grid__element__icon{
    font-size: 40px;
}

.grid__element__title{
    font-size: 20px;
    margin-top: 10px;
}

.grid__element__paragraph{
    line-height: 1.55;
    margin: 15px 0 10px;
}

/* Frase de Personaje Relacionado al Marketing */

.phrase{
    background-image: linear-gradient(rgba(5,7,12,.60),rgba(5,7,12,.60)) ,url(../assets/img/phrase__marketing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.phrase__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px 28px;

    text-align: center;
    color: #fff;
}

.phrase__content blockquote{
    width: 100%;
    margin: 20px 0;

    font-size: 25px;
    font-weight: 700;
    line-height: 1;
}

.phrase__content blockquote span{
    color: var(--color-5);
}

.phrase__paragraph{
    margin: 20px 0;
    line-height: 1.5;
    font-size: 14px;
}

/* Pie de Página */

.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--color-4);
}

.footer__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    padding: 2rem 0;
}

.footer__links{
    margin: 10px;
}

.footer__logo{
    margin: 10px 0;
    font-size: 25px;
    font-weight: 700;
}

.footer__logo a{
    color: var(--color-5);
}

.footer__paragraph{
    margin-bottom: 1rem;
    line-height: 1.5rem;
    color: var(--color-1);
}

.social__media{
    display: flex;
    font-size: 25px;
    padding-right: 10px;
    gap: 1rem;
}

.fa-brands{
    color: var(--color-1);
    transition: all 0.3s ease;
}

.fa-brands:hover{
    color: var(--background-lightblue);
    transform: scale(1.2);
}

.footer__title{
    font-size: 23px;
    margin-bottom: 12px;
    color: var(--color-5);
}

.footer__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__list li a{
    color: var(--color-1);
}

.footer__list li a:hover{
    color: var(--background-lightblue);
}

.footer__copy{
    color: var(--color-1);

    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    padding: .7rem;
    background-color: var(--color-5);
}


@media screen and (width > 768px) {
    /* Navegación */

    .nav{
        --opacity: 1;
        --transform-menu: unset;
        --pointer-menu: unset;
    }

    .nav__logo{
        max-width: 200px;
    }

    .nav__menu{
        position: static;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin-right: 20px;
        align-items: center;
        justify-content: space-between;
        transform: none;
        transition: none;

        padding: 0;
        background-color: transparent;
    }

    .nav__links{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        gap: 1rem;
    }   

    .nav__link{
        font-weight: 600;
        transition: all .3s ease;
    }
    
    .nav__link:hover{
        color: var(--color-5);
        background-color: #fff;
        transform: scale(1.1);
    }

    .nav__btn{
        margin: 0;
    }

    .nav__btn:hover{
        transform: scale(1.1);
    }

    .nav__label{
        display: none;
    }

    /* Hero Main */

    .hero__content{
        text-align: left;
    }

    .hero__block{
        width: 50%;
        min-width: 425px;
    }

    .hero__title{
        font-size: 2.5rem;
    }

    .hero__paragraph{
        font-size: 15px;
    }

/* About */

    .about{
        flex-direction: row;
        padding: 70px 0;
    }

    .about__title{
        font-size: 40px;
    }

    .about__content{
        width: 50%;
        padding-right: 96px;
    }


    /* Services */

    .services__title{
        font-size: 44px;
    }

    /* Working */

    .working__title{
        margin: 1.5rem 0 2rem ;
        font-size: 44px
    }

    /* Target */

    .target{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    /* Sección del Portafolio  */

    .about__left{
        width: 50%;
        padding-right: 96px;
    }

    .about__right{
        width: 50%;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 224px auto;
        grid-template-areas: 
            "img-one img-two"
            "element img-two"
        ;
    }

    /* Frase de Personaje Relacionado al Marketing */

    .phrase__content blockquote{
        width: 70%;
        font-size: 40px;
        line-height: 1.3;
    }

    .phrase__paragraph{
        margin: 30px 0;
        width: 70%;
    }

    /* Pie de Página */

    .footer__content{
        flex-direction: row;
        gap: 1rem;

        padding: 2rem 0;
    }

    .footer__links:nth-child(1){
        width: 40%;
    }

    .footer__links{
        margin: 10px;
        width: 20%;
    }

    .footer__logo{
        margin: 0 0 10px;
    }

}